API_URL=http://localhost:11498
AVATAR=your-avatar-url
NAME=your-name
DESCRIPTION=your-description
PAGE_SIZE=5
# 音乐文件托管地址（歌曲文件所在的 bucket 公共访问域名 + 目录）
MUSIC_ACCESS_HOST=https://music.361533.xyz
MUSIC_FOLDER=background%20music